*.so
*.[oa]
*.out
*.byte
*.native

*~
*.swp

*.pyc

*.cmo
*.cma
*.cmi
*.cmx
*.cmxa

*.depend

doc/_xml/

/build
/var
/.idea/

# Eclipse IDE settings files
.cproject
.project
.pydevproject
.settings/*
